* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ===========common============ */
.heading-lv2 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.89rem;
  line-height: 1.27;
  letter-spacing: -2%;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  position: relative;
}
.btn {
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  background: black;
  padding: 0 16px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* ========header========== */
.header {
  background-color: pink;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  text-align: center;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: black;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: black;
  left: 21px;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* ====================hero================== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
/* ==================hero left=============== */
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
}

.hero .hero-summary {
  background-color: white;
  border-radius: 12px;
  position: absolute;
  bottom: 48px;
  right: 0;
  box-shadow: 0px 16px 32px 0px #0000000d;
  width: 270px;
  height: 244px;
  padding: 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}
/* ============================hero right=================   */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: Bold;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -2%;
  color: #171100;
}
.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 27px;
}
.hero .cta-group {
  margin-top: 38px;
  align-items: center;
  display: flex;
}
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  display: flex;
  background: transparent;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40;
  height: 40;
  top: 580px;
  left: 1043px;
  border-radius: 40px;
  color: #ffffff;
  box-shadow: 0px 8px 16px 0px #00000012;
}
.hero .watch-video span {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: Bold;
  font-size: 4.4rem;
  line-height: 54px;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
/* ==================popular=============== */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top .desc {
  color: #5f5b53;
  margin-top: 16px;
  width: 458px;
  font-size: 18px;
  line-height: 1.67;
}
.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: #ffff;
  cursor: pointer;
}
.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}
.popular .course-item {
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e2dfda;
}
.popular .course-item:hover {
  border: 1px solid transparent;
  box-shadow: 0px 18px 36px 0px #0000000d;
  border-radius: 12px;
  background-color: #fff;
}
.popular .course-item .thumb {
  width: 100%;
  border-radius: 12px 12px 0 0;
  height: 278px;
  object-fit: cover;
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .course-item .title a {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}
.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75;
}
.popular .course-item .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
}
.popular .course-item .foot {
  margin-top: 12px;
}
.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  line-height: 1.67;
  font-weight: 600;
}
.popular .course-item .btn-book {
  border: none;
}
.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}
/* ==================feedback============== */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  line-height: 1.42;
}
.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}
.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
  cursor: pointer;
}
.feedback-item .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}
.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
}
.feedback-item .content {
  width: 66%;
  margin-left: auto;
}
.feedback-item blockquote {
  /* width: 740px;
  height: 160px; */
  color: #fff;
  font-style: Italic;
  font-size: 2.6rem;
  line-height: 1.54;
}
/* =========features=========== */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}
.features .images {
  display: flex;
  gap: 30px;
}
.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
.features .lower {
  margin-top: 34px;
}
.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}
.features .cta-btn {
  background: var(--primary-color);
  margin-top: 32px;
  width: 137;
  height: 50;
}
